<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
            Welcome!
            {% endblock %}
        </title>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <nav aria-label="main navigation" class="navbar" role="navigation">
                <div class="navbar-brand">
                    <a class="navbar-item" href="">
                        <span id="logo">🌴</span>
                    </a>

                    <a aria-expanded="false" aria-label="menu" class="navbar-burger burger" data-target="mainNav" role="button">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>

                <div class="navbar-menu" id="mainNav">
                    <div class="navbar-end">
                        <div class="navbar-item">
                            <div class="buttons">
                                <a class="button is-primary">
                                    <strong>Profile</strong>
                                </a>
                                <a class="button is-primary">
                                    <strong>Sign up</strong>
                                </a>
                                <a class="button is-primary">
                                    <strong>Log in</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
