{%  extends 'base.html.twig' %}

{% block title %}Hot Spots{% endblock %}

{% block body %}
<h1>Welcome to Hot Spots!</h1>
<video style="width: 100%; height: 100%;" autoplay muted loop>
    <source src="{{ asset('assets/videos/tropical.mp4') }}" type="video/mp4">
</video>
<a href="http://www.videezy.com/">B-Roll by Videezy.com</a>
{% endblock %}
